html {
  box-sizing: border-box; }

*, *::after, *::before {
  box-sizing: inherit; }

html {
  box-sizing: border-box; }

*, *::after, *::before {
  box-sizing: inherit; }

html {
  box-sizing: border-box; }

*, *::after, *::before {
  box-sizing: inherit; }

/* SOCIAL :D */
a.social {
  font-size: 10px;
  margin: 0 10px 0 10px; }

.twitter-button {
  padding-left: 24px;
  padding-top: 2px;
  padding-bottom: 2px;
  background: url("../images/twitter.png");
  background-repeat: no-repeat; }

.linkedin-button {
  padding-left: 24px;
  padding-top: 2px;
  padding-bottom: 2px;
  background: url("../images/linkedin.png");
  background-repeat: no-repeat; }

body {
  font: 1em "Lucida Sans Unicode", "Lucida Grande", sans-serif;
  color: #eeeeee;
  background-color: #353535;
  margin: 0;
  background-image: url("../images/background.gif");
  max-width: 68em;
  margin-left: auto;
  margin-right: auto; }
  body::after {
    clear: both;
    content: "";
    display: table; }

h1, h2, h3 {
  font-family: "Georgia", "Cambria", "Times New Roman", "Times", serif;
  font-weight: normal; }

a {
  color: #9254de;
  text-decoration: none; }

a:hover {
  text-shadow: 0 0 10px #a65efe;
  color: #a65efe;
  /*text-decoration: underline;*/ }

.pretty-embed {
  height: 100%; }

html {
  box-sizing: border-box; }

*, *::after, *::before {
  box-sizing: inherit; }

header {
  background-color: #101010;
  height: 6em;
  background-image: url("../images/logo_mobile.svg");
  background-repeat: no-repeat;
  background-position: center; }
  header aside {
    padding-top: 4em;
    float: none;
    margin: auto;
    width: 200px; }

html {
  box-sizing: border-box; }

*, *::after, *::before {
  box-sizing: inherit; }

footer {
  border-top: 2px solid #161516;
  padding-top: 20px;
  padding-bottom: 20px; }
  footer .box {
    height: 2em;
    white-space: nowrap;
    display: block;
    text-align: center; }
    footer .box p {
      margin-top: 0; }

html {
  box-sizing: border-box; }

*, *::after, *::before {
  box-sizing: inherit; }

/* GAMES! :D */
section.games {
  margin-top: 0.5em;
  margin-bottom: 1em; }

article.game {
  background-color: #101010;
  margin-bottom: 1.5em;
  max-width: 68em;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  display: table; }
  article.game::after {
    clear: both;
    content: "";
    display: table; }
  article.game h1 {
    text-align: center;
    font-size: 2em;
    margin-bottom: 0.5em;
    text-align: center; }
  article.game p {
    text-align: center;
    font-size: 1.2em;
    padding: 0 10px 0 10px; }
  article.game img {
    width: 100%;
    height: 100%; }
  article.game .game-wrapper {
    margin-bottom: -5px;
    display: table-header-group; }
