html {
  box-sizing: border-box; }

*, *::after, *::before {
  box-sizing: inherit; }

html {
  box-sizing: border-box; }

*, *::after, *::before {
  box-sizing: inherit; }

/* SOCIAL :D */
a.social {
  font-size: 10px;
  margin: 0 10px 0 10px; }

.twitter-button {
  padding-left: 24px;
  padding-top: 2px;
  padding-bottom: 2px;
  background: url('../images/twitter.png');
  background-repeat: no-repeat; }

.linkedin-button {
  padding-left: 24px;
  padding-top: 2px;
  padding-bottom: 2px;
  background: url('../images/linkedin.png');
  background-repeat: no-repeat; }

body {
  font: 1em 'Lucida Sans Unicode', 'Lucida Grande', sans-serif;
  color: #cecece;
  background-color: #353535;
  margin: 0;
  background-image: url("../images/background.gif");
  max-width: 68em;
  margin-left: auto;
  margin-right: auto; }
  body:after {
    content: "";
    display: table;
    clear: both; }

h1, h2, h3 {
  font-family: Georgia, Cambria, "Times New Roman", Times, serif;
  font-weight: normal; }

a {
  color: #737373;
  text-decoration: none; }

a:hover {
  text-shadow: 0 0 12px #ffffff;
  color: #CCCCCC;
  /*text-decoration: underline;*/ }
