html {
  box-sizing: border-box; }

*, *::after, *::before {
  box-sizing: inherit; }

footer {
  border-top: 2px solid #161516;
  padding-top: 20px;
  padding-bottom: 20px; }
  footer .box {
    height: 2em;
    white-space: nowrap;
    display: block;
    text-align: center; }
    footer .box p {
      margin-top: 0; }
