html {
  box-sizing: border-box; }

*, *::after, *::before {
  box-sizing: inherit; }

footer {
  margin-top: 10px;
  border-top: 2px solid #161516;
  padding-top: 20px;
  max-width: 68em;
  margin-left: auto;
  margin-right: auto; }
  footer:after {
    content: "";
    display: table;
    clear: both; }
  footer .box {
    height: 8em;
    white-space: nowrap;
    float: left;
    display: block;
    margin-right: 2.12766%;
    width: 31.91489%;
    display: block;
    text-align: center; }
    footer .box:last-child {
      margin-right: 0; }
    footer .box p {
      margin-top: 0; }
  footer .box:first-child {
    text-align: left; }
  footer .box:last-child {
    text-align: right; }
    footer .box:last-child * {
      float: right; }
